<ion-header>
  <ion-toolbar>
    <ion-title>Instituições Cadastradas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>IFsul Sapiranga</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    teste
    <ion-icon
      name="pin"
      slot="start"
    ></ion-icon>
    <ion-button
      fill="outline"
      slot="end"
    >
      View
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>IFsul Sapiranga</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    teste
    <ion-icon
      name="pin"
      slot="start"
    ></ion-icon>
    <ion-button
      fill="outline"
      slot="end"
    >
      View
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>IFsul Sapiranga</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>

  </ion-card-header>

  <ion-card-content>
    teste
    <ion-icon
      name="pin"
      slot="start"
    ></ion-icon>
    <ion-button
      fill="outline"
      slot="end"
    >
      View
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-content></ion-content>
